apiVersion: v1
kind: Secret
metadata:
  name: hef-repo
  namespace: openshift-gitops
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  url: {{ argocd_git_repo }}
  password: {{ argocd_git_password }}
  username: {{ argocd_git_user }}
