apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ kubeconfig_certificate_authority_data }}
    server: https://api.{{ cluster_name }}.{{ base_domain }}:6443
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: {{ kubeconfig_context_user }}
  name: {{ kubeconfig_context_name }}
current-context: {{ kubeconfig_context_name }}
kind: Config
preferences: {}
users:
- name: {{ kubeconfig_context_name }}
  user:
    client-certificate-data: {{ kubeconfig_client_certificate_data }}
    client-key-data: {{ kubeconfig_client_key_data }}
